html{
	background-color: lightgray;
	font-family: 'Gloria Hallelujah', cursive;
    height: 100%;
}
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid steelblue;
    border-radius: 50%;
    border-top: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

#header{
	background-color: black;
	color:white;
	text-align: center;
	border-radius: 8px;
    font-size: 1.3em;
}
#testcontainer{
	height: 200px;
	text-align: center;
}

#slidecontainer{
	width: 50%;
	margin:auto;
}

.slider {
	margin-top: 30%;
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 25px;
    background: steelblue;
    cursor: pointer;
     border-radius: 8px;
}

.slider::-moz-range-thumb {
    width: 100px;
    height: 25px;
    background: steelblue;
    cursor: pointer;
    border-radius: 8px;
} 

#bottom{
	background-color: black;
	color: white;
	font-size: 2em;
    border-radius: 8px;
}

#bottom p{
	text-align: center;
}

#startdiv{
    width: 100%;
    text-align: center;
}

button{
    background-color: steelblue;
    width:50%;
    font-size: 1em;
    border-radius: 8px;
}

@media only screen and (max-width: 400px) {
	#header{
		font-size: 1em;
	}
}

@keyframes done {
    0% {background: lightgray;}
    12.5% {background: rgba(255,0,0,.5);}
    25% {background: lightgray;}
    37.5% {background: rgba(255,0,0,.5);}
    50% {background: lightgray;}
    62.5% {background: rgba(255,0,0,.5);}
    75% {background: lightgray;}
    87.5% {background: rgba(255,0,0,.5);}
    100% {background: lightgray;}

}

@keyframes playagain {
    0% {background: lightgray;}
    25% {background: rgba(255,0,0,.5);}
    50% {background: lightgray;}
    75% {background: rgba(255,0,0,.5);} 
    100% {background: lightgray;}

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}