html{
	background-color: #292b2d;
	font-family: 'Jura', sans-serif;
    height: 100%;
    transition: background 3s;
    -webkit-transition: background 3s;
}
#main{
	display: none;
}
#menuIcon{
    position: absolute;
    left: 5%;
    top: 2.5%;
    z-index: 4;
}

.white{
    color:white;
}

.black{
    color:black;
}

#demo{
	margin: auto;
}



#menu{
    z-index: 3;
    position: absolute;
    width: 90%;
    background: lightgray;
    border: solid black 1px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: left linear .2s;
    -webkit-transition: left linear .2s;
    padding: 4px;
    
}

#circle{
    transition: stroke 3s;
    -webkit-transition: stroke 3s;
}
.items{
	width: 80%;
	margin: auto;
	padding: 4px;
    font-weight: 600;
}

.items:hover{
    background: white;
	border-radius: 8px;
}

.show{
    
    left: 3%;
}

.hide{
    left: -100%;
}

.block{
    display: block;
}

.none{
    display: none;
}

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid steelblue;
    border-radius: 50%;
    border-top: 16px solid white;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
      -webkit-animation: spin 2s linear infinite;
  }
  
  #newHighScore{
	position: absolute;
	z-index: 10;
	 width: 90%;
    background: lightgray;
    border: solid black 1px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: left linear 1s;
    padding: 4px;
    top: 30%;
    opacity: .8;
    height: 30%;
}

#newHighScore h2{
    position: relative;
    top: 30%;
}

#themes p:hover{
    background-color: white;
}

#blueTheme{
    color: steelblue;
}

#orangeTheme{
    color: #ed560b;
}

#purpleTheme{
    color: #8b23bc;
}

#greenTheme{
    color: #23bc23;
}


#header{
	color:white;
	text-align: center;
	border-radius: 8px;
    font-size: 1.3em;
    
}
#testcontainer{
	height: 200px;
	text-align: center;
    margin-top: -150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
}

#slidecontainer{
	width: 50%;
	position: absolute;
    top:65%;
    left: 25%;
}

.slider {
    margin-top: 100px;
    -webkit-appearance: none;
    width: 100%;
    height: 0px;
    border-radius: 15px;
    background: #292b2d;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-track {
    margin-top: 100px;
    -webkit-appearance: none;
    width: 100%;
    height: 0px;
    border-radius: 15px;
    background: #292b2d;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
} 

.slider::-ms-track {
    margin-top: 100px;
    -webkit-appearance: none;
    width: 100%;
    height: 0px;
    border-radius: 15px;
    background: #292b2d;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.slider::-ms-thumb  {
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
} 
#bottom{
	color: white;
	font-size: 2em;
    border-radius: 8px;
    position: absolute;
    bottom: 3%;
    left: 25%;
    width: 50%;
    
}

#bottom p{
	text-align: center;
}


#startdiv{
    width: 100%;
    text-align: center;
}

button{
    background-color: #292b2d;
    border: none;
    color:white;
    font-size: 1.3em;
    font-family: 'Jura', sans-serif;
}


@media only screen and (max-width: 400px) {
	#header{
		font-size: 1em;
	}
    
    .slider{
        margin-top: 80px;
    }
    
}

@media only screen and (min-width: 500px) {
	body{
		max-height: 800px;
		max-width: 500px;
		margin: auto;
	}
    
    #slidecontainer{
	   width: 250px;
        left: 50%;
        margin-left: -125px;
    }   
}

@keyframes done {
    
    50% {background: gray;}


}

@keyframes playagain {
    50% {background: rgba(255,0,0,.5);}

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
    
    #testcontainer{
	height: 200px;
	text-align: center;
    margin-top: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
}
    #bottom{
	color: white;
	font-size: 2em;
    border-radius: 8px;
    position: absolute;
    bottom: 3%;
    top: 150%;
    width: 50%;
    
}
    #slidecontainer{
	position: absolute;
    left: 40%;
        top: 120%
}

}