html{
		height: 100%;
		background-color: rgba(0,0,0,.05);
}


#header{
    margin-top: 4px;
	background: url(../images/valleyview.jpg);
	text-align: center;
	padding: 20px 0px;
	color: white;
	text-shadow: 2px 2px black;
	background-position: center;
	background-size: cover;
	width: 100%;
	border-radius: 4px 4px 0px 0px;
}

body{
	font-family: 'Dancing Script', cursive;
	background-color: white ;
}

#navWrapper{
    border: 1px solid black;
	margin: auto;
	text-align: center;
	padding: 8px;
	border-radius: 0 0 4px 4px;
	border-top: none;
}


.theNavShow a, #icon, .theNav a{
	
	display: block;
	color: black;
	text-decoration: none;
	padding: 8px 0px;
}

.theNavShow a:hover, #icon:hover, .theNav a:hover{
    background-color: rgba(0,0,0,.05);
    transition: all ease-in .4s;
}

.theNav a{
	display: none;
}

#titleDesc{
	text-align: center;
}

#main{
	height: 100%;
	width: 100%;
	z-index: 1;
}

.blocks{
    text-align: center;
    border: 1px black solid;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 1.4em;
}

#teeTime a{
    color: black;
}

#teeTime a:visited{
    color: green;
}

#phone{
    font-size: .5em;
}




@media only screen and (min-width: 600px) {
	.theNav a, .theNavShow a{
		width: 19%;
		display: inline-block;	
		padding: 8px 0px;
	}
	
	#icon{
		display: none;
	}
	
	#myBlocks{
	    margin-top: 4px; 
	    font-size: 0;
	}
	
	#myBlocks div{
	    font-size: 1rem;
	    display: inline-block;
	    width:50%;
    }
}

@media only screen and (min-width: 1050px) {
	body{
		max-width: 1050px;
		margin:auto;

	}
}
